aiosqlite==0.21.0
asgiref==3.7.2
distlib==0.3.8
Django==5.0.1
filelock==3.13.1
flake8==7.0.0
mccabe==0.7.0
mysql-connector-python==9.3.0
parameterized==0.9.0
platformdirs==4.1.0
pycodestyle==2.5.0
pyflakes==3.2.0
sqlparse==0.4.4
typing_extensions==4.14.1
virtualenv==20.25.0
